<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/mui-ex.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/mui.poppicker.css" />
		<script src="../js/x-validate.js"></script>
		<script src="../js/autosize.js"></script>
		<style>
			a {
				/*color: #666;*/
			}
			
			.st,
			.at {
				line-height: 47px;
				padding: 0px 20px;
			}
			
			.at {
				float: right;
			}
			
			li {
				list-style: none;
			}
			
			body,
			.mui-content,
			input[type=text],
			textarea {
				background-color: rgb(255, 255, 255);
			}
			
			input[type=text],
			textarea {
				border: none;
			}
			
			input[type=text] {
				font-size: 20px;
				border-bottom: 1px solid #999;
				padding-top: 20px;
				padding-bottom: 20px;
				line-height: 20px;
			}
			
			#textarea {
				/*border: 1px solid #ccc*/
			}
			
			#title {
				/*text-align: center;*/
			}
			/*栅格*/
			
			.mui-row {
				padding: 6px;
				margin-bottom: 15px;
			}
			
			.mui-row img {
				width: 100%;
				height: auto;
			}
			
			.mui-col-xs-4 {
				/*padding: 10px 10px 10px 0px;*/
				height: 100px;
				overflow: hidden;
				width: 31.3333%;
				margin: 1%;
				position: relative;
			}
			
			@media (min-width:400px) {
				.mui-col-xs-4 {
					height: 120px;
				}
			}
			
			.delBtn {
				position: absolute;
				top: 0;
				right: 0;
				/*width: 20px;
				height: 20px;*/
				padding: 0px 3px;
				border-radius: 0px 0px 0px 8px;
				background-color: rgba(0, 0, 0, 0.5);
				/*background-color: #222222;*/
			}
			
			.icon-del {
				color: white;
			}
			
			.icon-xiangji {
				font-size: 40px;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -20px;
				margin-left: -25px;
				color: white;
			}
			
			.iconTxt {
				font-size: 16px;
				position: absolute;
				top: 70%;
				left: 50%;
				margin-left: -31px;
				color: #666;
			}
			
			.cameraicon {
				background-color: rgba(100, 100, 100, 0.1);
			}
			/*end*/
			/*.share {
				margin-top: 10px;
				padding: 10px;
				background-color: rgba(100, 100, 100, 0.1);
			}
			
			.share .stext {
				font-size: 14px;
			}
			
			.share .iconfont {
				font-size: 22px;
				color: #777
			}*/
			/*option*/
			
			.option {
				font-size: 13px;
				color: #777;
			}
			
			.option .iconfont {
				padding-right: 5px;
			}
			
			.option .category button {
				margin-right: 10px;
			}
			
			.option div {
				padding-right: 20px;
				margin-top: 10px;
			}
			
			.option div li {
				background-color: rgba(100, 100, 100, 0.1);
				border-radius: 20px;
				padding: 9px 15px;
			}
			/*seo*/
			
			.mui-table-view {
				/*background-color: rgba(100, 100, 100, 0.1);*/
			}
			
			.mui-card {
				/*background-color: rgba(100, 100, 100, 0.1);*/
				color: #666;
			}
			
			.noCompulsory .mui-input-row label {
				padding-left: 0;
			}
			
			.noCompulsory .mui-input-row input {
				font-size: 14px;
			}
			
			.noCompulsory .mui-input-row label {
				width: 25%;
			}
			
			.noCompulsory .mui-input-row label~input,
			.mui-input-row label~select,
			.mui-input-row label~textarea {
				width: 75%;
			}
		</style>

	</head>

	<body>
		<header class="mui-bar mui-bar-nav" id='header'>
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>

			<!--<span class="st">0字</span>-->
			<!--<a class="at" id='btnComplete'>完成</a>-->
			<a class="mui-icon iconfont  mui-pull-right" style='font-size: 18px;line-height: 25px;'  id='btnComplete'>完成</a>
		</header>
		<div class="mui-content" id='content'>

			<form action="">
				<div class="mui-input-row" style="margin: 10px 5px;">
					<!--@blur="xv($event,'rexTitle')"-->
					<input id='title' type="text" placeholder="请输入标题" name="v" data-name="rexTitle" v-model.trim="title" @blur="xv($event,'rexTitle')">
				</div>
				<div class="mui-input-row" style="margin: 10px 5px;">
					<textarea id="textarea" rows="8" placeholder="请输入内容" v-model.trim="content"></textarea>
				</div>

				<div class="mui-row " id='myCamera'>

					<div class="mui-col-xs-4 cameraicon" @click="app.showActionSheet()">
						<span class="iconfont icon-xiangji"></span>
						<span class="iconTxt">添加图片</span>
					</div>

					<div class="mui-col-xs-4" v-for='(item,i) in imgs' v-if='imgs[i]!=""'>
						<img :src="imgs[i]" />
					</div>

				</div>

				<div class="option mui-row">

					<div class="mui-col-sm-5 mui-col-xs-5">
						<li class="mui-table-view-cell">
							<a id='showUserPicker'>
								<span class="iconfont icon-ziyuan"></span> <span id='result'>{{categoryName}}</span>
							</a>
						</li>
					</div>

					<div class="mui-col-sm-12 mui-col-xs-12">
						<li class="mui-table-view-cell">
							<a id='location'>
								<span class="iconfont icon-didian"></span> <span id='locationTxt'>{{address}}</span>
							</a>
						</li>
					</div>

				</div>

				<div class="seo">
					<div class="mui-card">
						<ul class="mui-table-view">
							<li class="mui-table-view-cell mui-collapse ">
								<a class="mui-navigate-right" href="#">SEO信息[可选填写/不填写自动补全]</a>
								<div class="mui-collapse-content">

									<div class="mui-input-row">
										<label>SEO标题</label>
									</div>
									<div>
										<textarea id="content" v-model.trim='seoTitle' rows="4" placeholder="输入SEO标题" name="v" data-name="rexSeo" @blur="xv($event,'rexSeo','SEO标题')"></textarea>
									</div>
									<div class="mui-input-row">
										<label>SEO关键词</label>
									</div>
									<div>
										<textarea id="content" v-model.trim='seoKeywords' rows="4" placeholder="输入SEO关键词" name="v" data-name="rexSeo" @blur="xv($event,'rexSeo','SEO关键词')"></textarea>
									</div>
									<div class="mui-input-row mui-plus-visible">
										<label>SEO描述</label>
									</div>
									<div>
										<textarea id="content" v-model.trim='seoDescription' rows="4" placeholder="输入SEO描述" name="v" data-name="rexSeo" @blur="xv($event,'rexSeo','SEO描述')"></textarea>
									</div>
								</div>
							</li>
						</ul>

					</div>
				</div>

				<div class="noCompulsory">
					<div class="mui-card">
						<ul class="mui-table-view">
							<li class="mui-table-view-cell mui-collapse">
								<a class="mui-navigate-right" href="#">非必填</a>
								<div class="mui-collapse-content">

									<div class="mui-input-row">
										<label>排序号</label>
										<div class="mui-numbox" data-numbox-min='1' data-numbox-max='999' style='float: left;'>
											<button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
											<input id="test" class="mui-input-numbox" type="number" value="5" v-model="orderNum" />
											<button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
										</div>
									</div>

									<div class="mui-input-row">
										<label>路径</label>
										<input type="text" placeholder="请输入路径" v-model.trim='path' @blur="atlPathUsed(path,pathOld)">
									</div>
									<p style="text-align: center;"><span style='color:red'>{{degInfo}}</span></p>
									<p style="text-align: center;"><span style='color:green'>{{sefInfo}}</span></p>

									<div class="mui-input-row">
										<label>作者</label>
										<input type="text" placeholder="请输入作者" v-model.trim='author' name="v" data-name="rexLess20" @blur="xv($event,'rexLess20','作者')">
									</div>

									<div class="mui-input-row">
										<label>编辑</label>
										<input type="text" placeholder="请输入编辑" v-model.trim='editor' name="v" data-name="rexLess20" @blur="xv($event,'rexLess20','编辑')">
									</div>

									<div class="mui-input-row">
										<label>来源</label>
										<input type="text" placeholder="请输入来源" v-model.trim='infoSource' name="v" data-name="rexLess50" @blur="xv($event,'rexLess50','来源')">
									</div>

									<div class="mui-input-row">
										<label>来源URL</label>
										<input type="text" placeholder="请输入来源URL" v-model.trim='infoSourceUrl' name="v" data-name="rexLess255" @blur="xv($event,'rexLess255','来源网址')">
									</div>

									<div class="mui-input-row">
										<label>发布时间</label>
										<label id='resultDate' style='width: 45%;'></label>
										<button id='demo1' data-options='{}' class="btn mui-btn mui-btn-block" style='float: right;width: 30%;font-size: 14px;'>选择时间 </button>
									</div>

									<div class="mui-input-row">
										<label>点击数</label>
										<div class="mui-numbox" data-numbox-min='1' data-numbox-max='999' style='float: left;'>
											<button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
											<input id="test" class="mui-input-numbox" type="number" value="5" v-model="clickNum" />
											<button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
										</div>
									</div>

								</div>
							</li>
						</ul>

					</div>
				</div>

			</form>

		</div>
		<script src="../js/immersed.js"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/myApp.js"></script>
		<script src="../js/myutil.js"></script>
		<!--<script src="../js/mui.picker.js"></script>-->
		<script src="../js/mui.picker.min.js"></script>
		<script src="../js/mui.poppicker.js"></script>
		<script src="../js/release.js"></script>

		<script type="text/javascript">
			mui.init({

					gestureConfig: {
						longtap: true, //默认为false	
						release: true, //默认为false，不监听
						hold: true,
					},

				}

			);

			mui.plusReady(function() {
				var self, cateName, cateId, id;
				self = plus.webview.currentWebview();

				vm.categoryName = self.cateName;
				vm.categoryId = self.cateId;
				id = self.itemid;

				if(!id) {
					return;
				}

				var item;

				app.getInfoById(id, app.api['atlById'], function(data) {
					item = data;

					//					for(var key in item) {
					//						console.log(key + '==' + item[key]);
					//					}

					vm.author = item.author;
					vm.categoryId = item.categoryId;
					vm.clickNum = item.clickNum;
					vm.color = item.color;
					vm.editor = item.editor;
					vm.id = item.id;
					
					vm.poi = item.poi;
					vm.address = item.address;
					vm.mapProvider = item.mapProvider;

					vm.infoSource = item.infoSource;
					vm.infoSourceUrl = item.infoSourceUrl;
					vm.path = item.path;
					vm.pathOld = item.path;
					vm.title = item.title;
					vm.titleImage = item.titleImage;
					vm.titleShort = item.titleShort;

					vm.content = item.content;
					vm.orderNum = item.orderNum;
					
					vm.seoDescription = item.seoDescription;
					vm.seoKeywords = item.seoKeywords;
					
					vm.seoTitle = item.seoTitle;
					vm.siteId = item.siteId;

					vm.isBold = item.isBold;
					vm.isElite = item.isElite;
					vm.isRecommend = item.isRecommend;
					vm.isRecycle = item.isRecycle;

					vm.isBoldTxt = vm.isBold ? '是' : '否';
					vm.isEliteTxt = vm.isElite ? '是' : '否';
					vm.isRecommendTxt = vm.isRecommend ? '是' : '否';
					vm.isRecycleTxt = vm.isRecycle ? '是' : '否';

					vm.images = item.images;

					vm.imgs = (item.images).split("|");

					util.removeObjWithArr(vm.imgs, (vm.imgs)[(vm.imgs).length - 1]);

					console.log("vm.imgs:" + JSON.stringify(vm.imgs))

				});

				//				self.setStyle({
				//					'popGesture': 'hide'
				//				});
				plus.screen.lockOrientation("portrait-primary"); //仅支持竖屏显示 
				//长按显示删除按钮
				mui('#myCamera').on('longtap', 'div', function() {

					delItem();

				});

				//加载分类
				loadAtlCateList();

				function loadAtlCateList() {
					app.atlCateList(function(data) {

						data = app.resetData(data);
						//普通示例
						var userPicker = new mui.PopPicker();

						userPicker.setDataPop(data);

						var showUserPickerButton = document.getElementById('showUserPicker');

						console.log(showUserPickerButton)
						var userResult = document.getElementById('result');
						showUserPickerButton.addEventListener('tap', function(event) {
							userPicker.show(function(items) {
								userResult.innerText = items[0].text;
								vm.categoryName = items[0].text;
								vm.categoryId = items[0].id;
								//返回 false 可以阻止选择框的关闭
								//								return false;
							});
						}, false);
					});
				}

			});

			//			if(self.cateName == null || self.cateName == undefined || self.cateName == '') {
			//				catename = '选择分类';
			//			} else {
			//				catename = self.cateName;
			//			}

			//			console.log("self.cateName22:"+self.cateName);

			var item = {
				"title": '',
				"content": '',
				"images": '',
				"categoryId": '',
				"categoryName": '',
				"seoDescription": '',
				"seoKeywords": '',
				"seoTitle": '',

				"clickNum": '0',
				"author": '',

				"color": '',

				"editor": '',
				"id": '',

				"infoSource": '',
				"infoSourceUrl": '',
				"isBold": false,
				"isBoldTxt": '',
				"isElite": false,
				"isEliteTxt": '',
				"isRecommend": false,
				"isRecommendTxt": '',
				"isRecycle": false,
				"isRecycleTxt": '',
				"keywords": '',
				"orderNum": '',
				"path": '',
				"pathOld": '',

				"siteId": '',
				"titleImage": '',
				"titleShort": '',
				mapProvider: '', //地图坐标提供商 可以不填写
				poi: '', //手机端发布信息坐标 可以不填写
				address: '', //手机端发布信息地点 可以不填写

				city: '', //市
				district: '', //区
				street: '', //街道
				degInfo: '',
				sefInfo: '',
				flag: true, //是否可以提交
				'imgs': []
			};

			var vm = new Vue({
				el: '#content',
				data: item
			});

			var delImgs = []; //获取被删除的图片的路径

			/**
			 * 删除元素(页面效果)
			 */
			function delItem() {
				//获取容器集合
				var objDivs = document.getElementById('myCamera').getElementsByClassName('mui-col-xs-4');

				//循环给每一个容器添加元素
				for(var i = 0; i < objDivs.length; i++) {
					//创建元素
					var objSpan = document.createElement('span');
					var objI = document.createElement('i');
					//给元素设置属性
					objSpan.setAttribute('class', 'delBtn');
					objI.setAttribute('class', 'iconfont icon-del');
					//添加
					objSpan.appendChild(objI);

					//不给第一个div添加
					if(i > 0) {
						objDivs[i].appendChild(objSpan);
					}

				}

				//删除图片
				//获取删除按钮对象集合
				var delBtns = document.getElementsByClassName('delBtn');
				for(var i = 0; i < delBtns.length; i++) {
					delBtns[i].addEventListener('tap', function() {
						delImgs.push(this.previousElementSibling.getAttribute('src'));
						console.log("delImgs:" + JSON.stringify(delImgs));
						this.parentNode.parentNode.removeChild(this.parentNode);
						changeDiv();
					});
				}

			}

			/**
			 * 删除图片（联网物理删除）
			 */
			function delPics() {
				var delNum = 0;
				var wt = app.showWaiting("图片修改中");
				//遍历 delImgs 数组
				for(var i = 0; i < delImgs.length; i++) {
					app.imgDel(delImgs[i], function(data) {
						if(data) {
							for(var i = 0; i < vm.imgs.length; i++) {
								if((vm.imgs)[i] == delImgs[i]) {
									util.removeObjWithArr(vm.imgs, (vm.imgs)[i]);
								}
							}
							delNum++
							if(delNum == delImgs.length) {
								app.closeWaiting(wt);
							}

						}
					});
				}

			}

			/**
			 * 如果图片数量超过一行（2个），就使容器变成可以滚动的div块
			 */
			function changeDiv() {
				//获取当期图片 数量

				var l = document.getElementById("myCamera").children.length;

				if(l > 3) {
					document.getElementById("myCamera").setAttribute('style', 'overflow-y:auto; overflow-x:auto;height:200px;');
				} else {
					document.getElementById("myCamera").setAttribute('style', '');
				}

			}

			//获取站点
			if(app.getSiteInfo().id) {
				vm.siteId = app.getSiteInfo().id
			} else {
				mui.toast('获取站点失败，可能账号已经过期，请重新登录');
			}

			//添加时，检测路径是否被占用 
			function atlPathUsed(path, pathOld) {
				app.atlPathUsed(path, pathOld, function(data) {
					if(data == true) {
						vm.sefInfo = '提示：目录可以使用';
						vm.degInfo = '';
						vm.flag = true;
					} else {
						vm.sefInfo = '';
						vm.degInfo = '提示：目录已被占用，请重填';
						vm.flag = false;
					}
				});
			}

			//备份mui.back，mui.back已将窗口关闭逻辑封装的比较完善（预加载及父子窗口），因此最好复用mui.back
			var old_back = mui.back;
			mui.back = function() {
				var btn = ["确定", "取消"];
				mui.confirm('确认关闭当前窗口？', '添加尚未完成', btn, function(e) {
					if(e.index == 0) {
						//执行mui封装好的窗口关闭逻辑；
						old_back();
					}
				});
			}

			function atlUpdate() {
				//不转换提交会出错
				if(typeof vm.seoDescription == 'object') {
					vm.seoDescription = JSON.stringify(vm.seoDescription);
				}
				if(typeof vm.seoKeywords == 'object') {
					vm.seoKeywords = JSON.stringify(vm.seoKeywords);
				}
				var wt = app.showWaiting("内容修改中");
				app.atlUpdate(item, function(data) {
					if(data) {

						//获得列表界面的webview
						var list = plus.webview.getWebviewById('atlPage-list');
						//触发列表界面的自定义事件（reload）,从而进行数据刷新
						mui.fire(list, 'reload', {
							cateId: vm.categoryId
						});
						old_back();
						app.closeWaiting(wt);
						console.log("data.id:" + data.id);
						app.atlToHtml(data.id, true, function(data) {
							if(data) {
								mui.toast('发布成功');
							} else {
								mui.toast('发布失败，可在文章列表重新发布');
							}

						});
					}
				});
			}
			var objImgs;
			//完成按钮
			document.getElementById("btnComplete").addEventListener('tap', function() {
				//判断，图片和内容必须有一项要填
				objImgs = document.getElementsByClassName('releaseItem');

				if(vm.content == '' && objImgs.length == 0) {
					mui.toast("图片或者内容必须要填一项");
					return false;
				}

				//判断路径是否被占用
				if(!vm.flag) {
					mui.toast("路径已经被占用，请检查路径");
					return false;
				}

				//验证输入格式
				var objs = document.getElementsByName("v");
				var flag = true;
				//遍历需要验证的元素
				for(var i = 0; i < objs.length; i++) {

					var e = {};
					var dname;

					e.target = objs[i];

					dname = objs[i].getAttribute('data-name');

					if(!xv(e, dname)) {
						//						console.log("dname:" + dname);
						flag = false;
						return;
					}

				}

				//判断是否选择了分类
				if(vm.categoryId == '' || vm.categoryId == undefined || vm.categoryId == null) {
					mui.toast('请选择分类');
					flag = false;
				}

				if(flag) {
					//如果删除了图片
					console.log("---------------delImgs:" + delImgs)
					console.log("---------------vm.images:" + vm.images)
					if(delImgs.length > 0) {
						var delNum = 0;
						var wt = app.showWaiting("图片修改中");
						//遍历 delImgs 数组
						for(var i = 0; i < delImgs.length; i++) {
							app.imgDel(delImgs[i], function(data) {
								for(var i = 0; i < vm.imgs.length; i++) {
									if((vm.imgs)[i] == data) {
										util.removeObjWithArr(vm.imgs, (vm.imgs)[i]);
									}
								}
								delNum++
								if(delNum == delImgs.length) {
									var str = "";
									for(var i = 0; i < vm.imgs.length; i++) {
										str += (vm.imgs)[i] + "|"
									}
									vm.images = str;
									app.closeWaiting(wt);
									uploadAll();
								}

							});
						}
					} else {
						uploadAll();
					}

				}

			});

			function uploadAll() {
				//上传图片
				//获取图片地址
				var imagesStr = '';
				var uploadNum = 0;

				if(objImgs.length != 0) {
					var wt = app.showWaiting("图片上传中");
					console.log("图片上传中");
					for(var i = 0; i < objImgs.length; i++) {
						console.log("objImgs[i].src-----------------------------:" + objImgs[i].src);
						app.singleUpload(objImgs[i].src, function(data) {
							if(data) {
								vm.images += data + "|";
								console.log("-------vm.images2---------:" + vm.images);
								uploadNum++;
								console.log("uploadNum:" + uploadNum);

								if(uploadNum == objImgs.length) {
									app.closeWaiting(wt)
									console.log("图片上传结束");
									atlUpdate();
								}

							}

						});

					}
				} else {
					atlUpdate();
				}
			}

			autosize(document.querySelectorAll('textarea'));
		</script>

		<script>
			(function($) {
				$.init();
				var result = $('#resultDate')[0];
				var btns = $('.btn');
				btns.each(function(i, btn) {
					btn.addEventListener('tap', function() {
						var _self = this;
						if(_self.picker) {
							_self.picker.show(function(rs) {
								result.innerText = rs.text;
								_self.picker.dispose();
								_self.picker = null;
							});
						} else {
							var optionsJson = this.getAttribute('data-options') || '{}';
							var options = JSON.parse(optionsJson);
							var id = this.getAttribute('id');
							/*
							 * 首次显示时实例化组件
							 * 示例为了简洁，将 options 放在了按钮的 dom 上
							 * 也可以直接通过代码声明 optinos 用于实例化 DtPicker
							 */
							_self.picker = new $.DtPicker(options);
							_self.picker.show(function(rs) {
								/*
								 * rs.value 拼合后的 value
								 * rs.text 拼合后的 text
								 * rs.y 年，可以通过 rs.y.vaue 和 rs.y.text 获取值和文本
								 * rs.m 月，用法同年
								 * rs.d 日，用法同年
								 * rs.h 时，用法同年
								 * rs.i 分（minutes 的第二个字母），用法同年
								 */
								result.innerText = rs.text;
								/* 
								 * 返回 false 可以阻止选择框的关闭
								 * return false;
								 */
								/*
								 * 释放组件资源，释放后将将不能再操作组件
								 * 通常情况下，不需要示放组件，new DtPicker(options) 后，可以一直使用。
								 * 当前示例，因为内容较多，如不进行资原释放，在某些设备上会较慢。
								 * 所以每次用完便立即调用 dispose 进行释放，下次用时再创建新实例。
								 */
								_self.picker.dispose();
								_self.picker = null;
							});
						}

					}, false);
				});
			})(mui);
		</script>

		<script type="text/javascript">
			// 扩展API加载完毕后调用onPlusReady回调函数 
			document.addEventListener('plusready', onPlusReady, false);
			// 扩展API加载完毕，现在可以正常调用扩展API
			function onPlusReady() {
				plus.geolocation.getCurrentPosition(function(p) {
					//					alert('Geolocation\nLatitude:' + p.coords.latitude + '\nLongitude:' + p.coords.longitude + '\nad:' + p.addresses); 

					//				''	vm.location=p.address.city+p.address.district+p.address.street;
					//					console.log(JSON.stringify(p.coords) +"coordsType:"+p.coordsType);  
					vm.mapProvider = "百度地图，坐标系类型：" + p.coordsType;
					vm.poi = JSON.stringify(p.coords);
					var ad = p.addresses;
					if(ad == undefined) {
						ad = p.address.street;
					}
					vm.address = p.address.city + "·" + p.address.district + "·" + ad;

				}, function(e) {
					alert('Geolocation error: ' + e.message);
				});
			}
		</script>

	</body>

</html>